<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zhuceServlet</servlet-name>
    <servlet-class>web.zhuceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>queryServlet</servlet-name>
    <servlet-class>web.queryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>web.updateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>user_messageServlet</servlet-name>
    <servlet-class>web.user_messageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>add_goodsServlet</servlet-name>
    <servlet-class>web.add_goodsServlet</servlet-class>
  </servlet>
   <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>manageServlet</servlet-name>
    <servlet-class>web.manageServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>zhuceServlet</servlet-name>
    <url-pattern>/zhuceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryServlet</servlet-name>
    <url-pattern>/queryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user_messageServlet</servlet-name>
    <url-pattern>/user_messageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>add_goodsServlet</servlet-name>
    <url-pattern>/add_goodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manageServlet</servlet-name>
    <url-pattern>/manageServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>shouye.jsp</welcome-file>
  </welcome-file-list>
</web-app>
